Repository RameezAhmedZaka/ECS-Atlantis: changes, and which Atlantis projects are due for each by the changed paths.
All: network-helia, network-production, network-staging, rdot-helia, rdot-production, rdot-staging

network-helia:
  dir: application/network
  terraform_version: v1.6.6
  workflow: multi_env_workflow
  apply_requirements:
  - approved
  - mergeable

network-production:
  dir: application/network
  terraform_version: v1.6.6
  workflow: multi_env_workflow
  apply_requirements:
  - approved
  - mergeable

network-staging:
  dir: application/network
  terraform_version: v1.6.6
  workflow: multi_env_workflow
  apply_requirements:
  - approved
  - mergeable

rdot-helia:
  dir: application/rdot
  terraform_version: v1.6.6
  workflow: multi_env_workflow
  apply_requirements:
  - approved
  - mergeable

rdot-production:
  dir: application/rdot
  terraform_version: v1.6.6
  workflow: multi_env_workflow
  apply_requirements:
  - approved
  - mergeable

rdot-staging:
  dir: application/rdot
  terraform_version: v1.6.6
  workflow: multi_env_workflow
  apply_requirements:
  - approved
  - mergeable

testing
  repo-config-generator.sh
Due: none

testing
  atlantis.yaml
  repo-config-generator.sh
  scripts/generate-atlantis-yaml.sh
Due: none

testing
  application/rdot/env/staging/stage.conf
  atlantis.yaml
  db/db1/env/helia/helia.conf
  db/db1/env/staging/stage.conf
  db/db2/backend.tf
  db/db2/config/helia.tfvars
  db/db2/config/production.tfvars
  db/db2/config/stage.tfvars
  db/db2/env/helia/helia.conf
  db/db2/env/production/prod.conf
  db/db2/env/staging/stage.conf
  db/db2/main.tf
  db/db2/providers.tf
  db/db2/variables.tf
  db/db22/backend.tf
  db/db22/config/helia.tfvars
  db/db22/config/production.tfvars
  db/db22/config/stage.tfvars
  db/db22/env/helia/helia.conf
  db/db22/env/production/prod.conf
  db/db22/env/staging/stage.conf
  db/db22/main.tf
  db/db22/providers.tf
  db/db22/variables.tf
  db/db3/backend.tf
  db/db3/config/helia.tfvars
  db/db3/config/production.tfvars
  db/db3/config/stage.tfvars
  db/db3/env/helia/helia.conf
  db/db3/env/production/prod.conf
  db/db3/env/staging/stage.conf
  db/db3/main.tf
  db/db3/providers.tf
  db/db3/variables.tf
  repo-config-generator.sh
Due: rdot-staging

testing
  atlantis/modules/ecs/main.tf
Due: none

testing
  db/db1/config/production.tfvars
Due: none

testing
  application/rdot/config/helia.tfvars
Due: rdot-helia, rdot-production, rdot-staging

testing
  repo-config-generator.sh
  scripts/generate-atlantis-yaml.sh
Due: none

testing
  repo-config-generator.sh
  scripts/atlantislocal.yaml
Due: none

testing
  scripts/generate-atlantis-yaml.sh
Due: none

testing
  atlantis.yaml
  scripts/generate-atlantis-yaml.sh
Due: none

testing
  atlantis.yaml
  repo-config-generator.sh
  scripts/init
Due: none

testing
  application/rdot/env/helia/helia.conf
Due: rdot-helia

testing
  application/rdot/config/helia.tfvars
  atlantis.yaml
  repo-config-generator.sh
  scripts/generate-atlantis-yaml.sh
Due: rdot-helia, rdot-production, rdot-staging

testing
  atlantis/modules/ecs/main.tf
  repo-config-generator.sh
Due: none

testing
  atlantis.yaml
  repo-config-generator.sh
Due: none

testing
  repo-config-generator.sh
  scripts/init
Due: none

Path conditions:
  network-helia: any of: application/network/*.tf, application/network/config/*.tfvars, application/network/env/helia/*
  network-production: any of: application/network/*.tf, application/network/config/*.tfvars, application/network/env/production/*
  network-staging: any of: application/network/*.tf, application/network/config/*.tfvars, application/network/env/staging/*
  rdot-helia: any of: application/rdot/*.tf, application/rdot/config/*.tfvars, application/rdot/env/helia/*
  rdot-production: any of: application/rdot/*.tf, application/rdot/config/*.tfvars, application/rdot/env/production/*
  rdot-staging: any of: application/rdot/*.tf, application/rdot/config/*.tfvars, application/rdot/env/staging/*
